@model IEnumerable<Amazon.BL.Models.ProductVM>

@{
    ViewData["Title"] = "Products";
}

<div class="row p-4">
    <hr>
    <div>
        <input class="form-control w-75 mx-auto py-4 text-center" type="text" placeholder="Search For Product . . . ">
    </div>
    @if (Model != null)
    {
        @foreach (var product in Model)
        {
            <div class="product col-md-2">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <div class="px-2 py-2">
                        <img class="w-100" src="@product.ImageCover">
                        <span class="text-main fw-bold font-sm">@product.Category.Name</span>
                        @{
                            string[] words = product.Title.Split(' ');
                            string firstTwoWords = String.Join(" ", words, 0, 2);
                        }
                        <h3 class="h6 fw-bolder">@firstTwoWords </h3>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="text-muted fw-bold font-sm">@product.Price</span>
                            <div>
                                <i class="rating-color fa fa-star"></i>
                                <span class="text-muted fw-bold font-sm">@product.RatingsAverage</span>
                            </div>
                        </div>
                    </div>
                </a>
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button class="btn btn-outline-primary w-100 my-3 " type="submit">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>Add</span>
                    </button>

                </form>
            </div>
        }

        @* <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-xl-10">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                            <img src="~/Files/Brands/Imgs/@brand.Image"
                                                 class="w-100" />
                                            <a href="#!">
                                                <div class="hover-overlay">
                                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <h5>Quant trident shirts</h5>
                                        <div class="d-flex flex-row">
                                            <div class="text-danger mb-1 me-2">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span>0</span>
                                        </div>
                                        <div class="mt-1 mb-0 text-muted small">
                                            <span>100% cotton</span>
                                            <span class="text-primary"> • </span>
                                            <span>Light weight</span>
                                            <span class="text-primary"> • </span>
                                            <span>Best finish<br /></span>
                                        </div>
                                        <div class="mb-2 text-muted small">
                                            <span>Unique design</span>
                                            <span class="text-primary"> • </span>
                                            <span>For men</span>
                                            <span class="text-primary"> • </span>
                                            <span>Casual<br /></span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0">
                                            There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                        <div class="d-flex flex-row align-items-center mb-1">
                                            <h4 class="mb-1 me-1">$13.99</h4>
                                            <span class="text-danger"><s>$20.99</s></span>
                                        </div>
                                        <h6 class="text-success">Free shipping</h6>
                                        <div class="d-flex flex-column mt-4">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button">Details</button>
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">
                                                Add to wishlist
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section> *@

    }
</div>